* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

#header {
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header h1 span {
    color: chartreuse;
}

.header-end button {
    width: 78px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    font-weight: 500;
    font-size: 13px;
    color: #1D1D1D;
}

.header-end {
    font-size: 28px;
    color: black;
    margin-top: 1px;
}

.header a {
    position: relative;
    top: 7px;
    left: 20px;
}

.search label input {
    font-weight: 400;
    font-size: 16px;
    color: #626262;
    border: none;
    width: 245px;
    height: 15px;
    margin-top: 50px;
}

.line {
    width: 350px;
    height: 1px;
    background: #757575;
    mix-blend-mode: normal;
    opacity: 0.3;
}

.logo {
    width: 308px;
    height: 366px;
    padding-top: 30px;
    line-height: 30px;
}

.product-title {
    font-weight: 400;
    font-size: 22px;
    color: #1D1D1D;
    padding-top: 20px;
}

.logo h1 {
    font-weight: 400;
    font-size: 16px;
    color: #1D1D1D;
}

.logo h3 {
    font-weight: 400;
    font-size: 14px;
    color: #626262;
}

.logo p {
    font-weight: 400;
    font-size: 13px;
    color: #1D1D1D;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/*footer*/
hr {
    width: 100%;
    border: 1px solid grey;
    margin-top: 20px;
}
.content h1 span {
    color: chartreuse;
}
.hero-one{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.hero-one a {
    position: absolute;
    color: #FFFFFF;
    padding: 20px 20px;
}
.hero-one select{
    margin-top: 10px;
    border: none;
    padding: 10px 70px;
    background: #403D3B;
    border-radius: 8px;
    color: #FFFFFF;
}
.hero-one option{
    border: none;
    padding: 15px 12px;
    background: #403D3B;
    border-radius: 8px;
    color: #FFFFFF;
}
.hero-three h4 {
    margin-top: 30px;
    font-size: 16px;
    color: black}
.hero-three h4 span{
    color:#49A144;
}
.hero-input{
    margin-top: 20px;
}
.footer p{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 13px;
    color: black;
}
.footer-end p{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 13px;
    color: black;
}

/**/
.block2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.play{
    display: flex;
    border: 2px solid black;
    border-radius: 6px;
    background: black;
    color: white;
    height: 45px;
    width: 160px;
    margin: 50px 30px;
    padding: 12px 15px;
}
.play a{
    color: white;
    font-size: 35px;
    margin: 10px 0;
    align-items: center;
}
.apple i{
    color: white;
}

.apple{
    display: flex;
    border: 2px solid black;
    border-radius: 6px;
    background: black;
    color: white;
    height: 45px;
    width: 130px;
    margin: 50px 30px;
}
.title-two{
    margin-left: 15px;
}



.apple{
    display: flex;
    border: 2px solid black;
    border-radius: 6px;
    background: black;
    color: white;
    height: 45px;
    width: 160px;
    margin: 50px 30px;
    padding: 10px 10px;
}
.apple a{
    color: white;
    font-size: 35px;
    margin: 10px 0;
    align-items: center;
}
.apple i{
    color: white;
}

.apple{
    display: flex;
    border: 2px solid black;
    border-radius: 6px;
    background: black;
    color: white;
    height: 45px;
    width: 170px;
}
.apple-two{
    margin-left: 15px;
}
.footer2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer2 p{
    font-weight: 400;
    font-size: 11px;
    color: #403D3B;
    margin-top: 40px;
    padding-bottom: 30px;
}

/*footer*/